/*==> CSS RESPONSIVE CREADO SIGUIENDO EL MÉTODO FLEX-BOX VISTO EN W3SCHOOL */
/*==> CONFIGUTACIONES GENERALES */
* {
    box-sizing: border-box;                                     /*De esta forma padding no distorcionará width final*/
}
body {
    margin: 0;                                                  /*Para ocupar la pantalla en su totalidad*/
    overflow-x: hidden;                                         /*Para evitar que, al reducir el ancho de pantalla aparezca scroll horizontal*/
    background-color: black;
    font-family: 'Arimo', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Comfortaa', cursive;
}
li {
    font-style: italic;
}

/*==> CONFIGURACIONES PARA LOS FLEX-CONTAINER PRINCIPALES */
.fila {         /*==> Flex container general: incluye todo el sitio menos el pie*/
    display: flex;                                              /*Para poder generar columnas con diferente ancho*/
}
.col-izq {      /*==> Flex container: Dentro de .fila - Barra lateral izquierda*/
    display: flex;
    flex: 25%;                                                  /*Esta columna ocupará siempre un 25% del ancho de pantalla, pero:*/
    max-width: 350px;                                           /*Si el 25% de la pantalla es mayor a 350px, el ancho quedará fijo en 350px*/
    min-width: 250px;                                           /*Si el 25% de la pantalla es menor a 250px, el ancho quedará fijo en 250px*/
    background-image: linear-gradient(white, gray);
    border-right: 5px solid rgb(67, 75, 14);
    padding: 10px;
}
.col-der {      /*==> Flex container: Dentro de .fila - Área principal del website (Incluye encabezado, contenido y menú derecho)*/
    display: flex;
    flex: 75%;                                                  /*Esta columna ocupará siempre, como mínimo, un 75% del ancho de pantalla*/
    flex-direction: column;                                     /*Los elementos siempre se ordenarán de manera vertical, de arriba a abajo*/
    overflow: hidden;                                           /*No se podrá hacer scroll horizontal aunque la pantalla se achique*/ 
}
.pie {          /*==> Flex container: Pie de página*/
    bottom: 0;                                                  /*Estará siempre al final del sitio*/
    position: sticky;                                           /*Será siempre visible, pese al scroll*/
    padding: 1px;
    background-color: rgb(32, 48, 42);
    color: white;
    text-align: center;
}
.contenido {    /*==> Flex container: Dentro de .col-der - Columna para el cuerpo principal del sitio*/
    display: flex;
    min-width: 50px;    
    overflow: hidden;                                           /*No se podrá hacer scroll horizontal aunque la pantalla se achique*/
}
.col-ppal {     /*==> Flex container: Dentro de .contenido - Columna para el contenido principal*/
    display: flex;
    flex: 75%;
    flex-direction: column;                                     /*Sus elementos siempre se ordenaran de manera vertical*/
    width: auto;                                                /*El ancho de esta sección será variable*/
    overflow: hidden;                                           /*No se podrá hacer scroll horizontal aunque la pantalla se achique*/
}
.col-form {     /*==> Flex container: Dentro de .contenido - Columna para el menú derecho (formulario)*/
    display: block;
    flex: 25%;
    float: left;                                                
    max-width: 25%;     /*300px;*/
    min-width: 5%;      /*200px;*/
    padding: 10px;
    background-color: red;
    /*visibility: hidden;*/
}

/*==> CONFIGURACIONES PARA LOS FLEX-CONTAINER SECUNDARIOS */
.encab {        /*==> Flex container: Dentro de .col-der - Fila para la foto y datos de perfil*/
    display: flex;
    width: 100%;
    float: inline-start;                                        /*Todos los elementos siempre se alinearán sobre el borde izquierdo del container*/
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(176, 196, 176);
}
.drops {        /*==> Flex container: Dentro de .col-cont - Fila para los desplegables con datos laborales*/
    width: 100%;
    padding: 10px;
    background-color: blueviolet;
}
.galeria {       /*==> Flex container: Dentro de .col-cont - Fila para la galería*/
    flex: inherit;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    object-fit: inherit;
    background-color: blue;
}
.formulario {   /*==> Flex container: Dentro de .col-form - Columna para los campos del formulario*/
    border-radius: 10px 0 0 10px;
    background-color: red;
}

/*==> CONFIGURACIONES PARA LOS FLEX-ITEMS */
/*GALERIA*/
.foto {
    flex: 1 0 auto;
    margin: 15px;
    background-color: bisque;
    width: 500px;
    height: 500px;
}