/*==> CSS RESPONSIVE CREADO SIGUIENDO EL MÉTODO FLEX-BOX VISTO EN W3SCHOOL */
/*==> CONFIGUTACIONES GENERALES */
* {
    box-sizing: border-box;                                     /*De esta forma padding no distorcionará width final*/
}
body {
    margin: 0;                                                  /*Para ocupar la pantalla en su totalidad*/
    overflow-x: hidden;                                         /*Para evitar que, al reducir el ancho de pantalla aparezca scroll horizontal*/
    background-color: white;
    font-family: 'Arimo', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Comfortaa', cursive;
}
li {
    font-style: italic;
}

/*==> CONFIGURACIONES PARA LOS FLEX-CONTAINER PRINCIPALES */
.fila {         /*==> Flex container general: incluye todo el sitio menos el pie*/
    display: flex;                                              /*Para poder generar columnas con diferente ancho*/
}
.col-izq {      /*==> Flex container: Dentro de .fila - Barra lateral izquierda*/
    display: flex;
    flex: 25%;                                                  /*Esta columna ocupará siempre un 25% del ancho de pantalla, pero:*/
    max-width: 350px;                                           /*Si el 25% de la pantalla es mayor a 350px, el ancho quedará fijo en 350px*/
    min-width: 250px;                                           /*Si el 25% de la pantalla es menor a 250px, el ancho quedará fijo en 250px*/
    background-image: linear-gradient(white, gray);
    border-right: 5px solid rgb(67, 75, 14);
    padding: 10px;
}
.col-der {      /*==> Flex container: Dentro de .fila - Área principal del website (Incluye encabezado, contenido y menú derecho)*/
    display: flex;
    flex: 75%;                                                  /*Esta columna ocupará siempre, como mínimo, un 75% del ancho de pantalla*/
    flex-direction: column;                                     /*Los elementos siempre se ordenarán de manera vertical, de arriba a abajo*/
    overflow: hidden;                                           /*No se podrá hacer scroll horizontal aunque la pantalla se achique*/ 
}
.pie {          /*==> Flex container: Pie de página*/
    bottom: 0;                                                  /*Estará siempre al final del sitio*/
    position: sticky;                                           /*Será siempre visible, pese al scroll*/
    padding: 1px;
    background-color: rgb(32, 48, 42);
    color: white;
    text-align: center;
}
.contenido {    /*==> Flex container: Dentro de .col-der - Columna para el cuerpo principal del sitio*/
    display: flex;
    min-width: 50px;    
    overflow: hidden;                                           /*No se podrá hacer scroll horizontal aunque la pantalla se achique*/
}
.col-ppal {     /*==> Flex container: Dentro de .contenido - Columna para el contenido principal*/
    display: flex;
    flex: 75%;
    flex-direction: column;                                     /*Sus elementos siempre se ordenaran de manera vertical*/
    width: auto;                                                /*El ancho de esta sección será variable*/
    overflow: hidden;                                           /*No se podrá hacer scroll horizontal aunque la pantalla se achique*/
}
.col-form {     /*==> Flex container: Dentro de .contenido - Columna para el menú derecho (formulario)*/
    display: flex;
    float: right;
    width: auto;
    min-width: 20px;    
    margin: 0;
    padding: 10px 0 10px 5px;
    background-color: white;
}

/*==> CONFIGURACIONES PARA LOS FLEX-CONTAINER SECUNDARIOS */
.caja-contacto {                     /*FLEX-ITEMS*/
    max-height: 230px;
    min-height: 200px;
    max-width: 300px;
    min-width: 80%;
    margin: 10px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(82, 122, 107);
    color: rgb(182, 230, 194);
    border-radius: 5px 20px 20px;
    overflow-x: auto;
    top: 20px;
    position: sticky;
}

.encab {        /*==> Flex container: Dentro de .col-der - Fila para la foto y datos de perfil*/
    display: block;
    width: 100%;
    float: inline-start;                                        /*Todos los elementos siempre se alinearán sobre el borde izquierdo del container*/
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(176, 196, 176);
}

.fotoperfil {                           /*FOTO DE PERFIL*/
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 1px 0 10px gray;
    float: left;
}
.datos-pers {                       /*TEXTO DEL ENCABEZADO*/
    float: left;
    position: relative;
    margin-left: 0;
    margin-bottom: 20px;
    font-size: 18px;
}

.drops {        /*==> Flex container: Dentro de .col-cont - Fila para los desplegables con datos laborales*/
    width: 100%;
    padding: 10px;
    background-color: white;    
}
.galeria {       /*==> Flex container: Dentro de .col-cont - Fila para la galería*/
    flex: inherit;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    object-fit: inherit;
    width: 100%;
    background-color: rgb(222, 236, 218);
}


/*==> CONFIGURACIONES PARA LOS FLEX-ITEMS */
/*GALERIA*/
.foto {
    flex: 1 0 auto;
    margin: 15px;
    background-color: white;
    width: auto;
    height: auto;
    opacity: 0.8;
    transition: all 50ms;
}
div.galeria {
    margin: 5px;
    float: left;
    width: auto;
    display: flex;
    flex-direction: row;  
}
div.foto:hover {
    opacity: 1;
    border-style: none solid solid none;
    border: 1px solid darkgray;
    box-shadow: 10px 10px 50px darkgray; 
}
div.epigrafe {
    padding: 15px;
    text-align: center;
}

.acordeon {                         /*ACORDEONES (DROPDOWNS)*/
    display: block;
    width: 100%;
    padding: 20px;
    margin: auto;
    background-color: gray;
    box-shadow: 2px 2px 5px darkgray;
    color: white;
    border-radius: 5px 20px 20px;
    cursor: pointer;                                            /*Cuando el mouse pase por arriba, el ícono cambiará de flecha a mano*/
    transition: all 300ms;
}
.acordeon-texto {
    display: none;
    position: relative;
    padding: 10px;
    background-color: rgb(207, 230, 195);
    color: black;
    z-index: 0;
}
.acordeon:hover {
    background-color: rgb(50, 50, 50);
}
.acordeon:hover .acordeon-texto {
    display: block;
}

/*FORMULARIO*/

.boton-form {
    writing-mode: vertical-lr;
}
#desplegable {
    display: flex;
    right: 0;    
    position: sticky;
    width: 100%;    
    background-color: rgb(67, 97, 93);
    color: white;
    font-family: 'comfortaa', cursive;
    border-radius: 10px 0 0 10px;
    border: none;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}
#campos {
    width: 220px;
    height: 100%;
    margin-left: auto;
    margin-right: 0;
    display: none;
    float: right;
    flex-flow: column wrap;
    background-color: rgb(63, 77, 75);
    color: white;
    font-family: 'comfortaa', cursive;
    padding: 5px;
    text-align: left;
    overflow: hidden;
}
#nombre, #obs, #correo, #tipop, #superf {
    width: 100%;
    border-style: none none solid none;
    border-bottom: 4px solid rgb(144, 172, 43);
    border-radius: 5px 5px 0 0;
    box-shadow: 2px 2px 5px darkolivegreen;
}
#obs {
    overflow-y: scroll;
}

/* MEDIA QUERY PARA SMARTPHONE */
@media screen and (max-width: 600px) {
   