/* CSS RESPONSIVE CREADO SIGUIENDO EL MÉTODO FLEX-BOX VISTO W3SCHOOL */

/* MEDIA QUERY PARA PC (por default) */
/* ===CONFIGURACIONES GENERALES=== */
* {
    box-sizing: border-box;         /*De esta forma padding no distorcionará width final*/
}
body {
    margin: 0;                      /*Para ocupar la pantalla en su totalidad*/
    font-family: 'Arimo', sans-serif;
    overflow-x: hidden;   /*VERIFICAR*/
}
h1 {
    font-family: 'Comfortaa' cursive;
}
li {
    font-style: italic;
}

/* ===DIVISIÓN DEL VIEWPORT EN DOS COLUMNAS=== */
.fila {                             /*Clase creada para ordenar en columnas los flex-container*/
    display: flex;
}
.izq {                              /*FLEX-CONTAINER: MENÚ LATERAL*/
    flex: 25%;
    max-width: 350px;
    background-image: linear-gradient(white, gray);
    border-right: 5px solid rgb(67, 75, 14);
    display: flex;
}
.der {                              /*FLEX-CONTAINER: ÁREA PRINCIPAL DE LA PÁGINA*/
    flex: 75%;
    background-color: white;
}

/* =============MENÚ LATERAL============= */
.caja-contacto {                     /*FLEX-ITEMS*/
    max-height: 230px;
    min-height: 200px;
    max-width: 300px;
    min-width: 80%;
    margin: 10px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(82, 122, 107);
    color: rgb(182, 230, 194);
    border-radius: 5px 20px 20px;
    overflow-x: auto;
    top: 20px;
    position: sticky;
}


/* =============ENCABEZADO============= */
.encab {
    float: inline-start;
    display: block;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(176, 196, 176);
}
.perfil {                           /*FOTO DE PERFIL*/
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 1px 0 10px gray;
    float: left;
}
.datos-pers {                       /*TEXTO DEL ENCABEZADO*/
    float: left;
    position: relative;
    margin-left: 0;
    margin-bottom: 20px;
    font-size: 18px;
}


/* =============SECCIÓN PRINCIPAL DE LA PÁGINA============= */
.ppal {
    flex: 80%;
    padding: 10px;
    background-color: white;
}
.secciones {
    color: rgb(109, 116, 16);
    text-shadow: 1px 1px gray;
}
.descripcion {
    width: 100%;
    display: block;
    flex-direction: column;
}
.acordeon {                         /*ACORDEONES (DROPDOWNS)*/
    display: block;
    width: 100%;
    padding: 20px;
    margin: auto;
    background-color: gray;
    box-shadow: 2px 2px 5px darkgray;
    color: white;
    border-radius: 5px 20px 20px;
}
.acordeon-texto {
    display: none;
    position: relative;
    padding: 10px;
    background-color: rgb(207, 230, 195);
    color: black;
    z-index: 0;
}
.acordeon:hover {
    background-color: rgb(51, 50, 50);
}
.acordeon:hover .acordeon-texto {
    display: block;
}
.galeria {                          /*PORTFOLIO (IMAGE GALLERY)*/
    overflow-x: scroll;
}

/* ===FORMULARIO LATERAL DERECHO=== */
.form-der {
    position: sticky;
    justify-content: stretch;
    display: flex;
    min-width: 5%;
    max-width: 25%;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
}
#desplegable {
    display: flex;
    width: 100%;
    background-color: rgb(18, 92, 70);
    color: rgb(182, 230, 194);
    border-radius: 10px 0 0 10px;
    border: none;
    text-align: center;
    padding-top: 20px;
    padding-left: 10px;
}
#campos {
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: 0;
    display: none;
    background-color: rgb(18, 92, 70);
    color: rgb(182, 230, 194);
    padding: 5px;
    text-align: left;
    overflow: hidden;
}
#nombre, #obs, #correo, #tipop {
    width: 100%;
}
#obs {
    overflow-y: scroll;
}

/* ===PIE DE PÁGINA=== */
.pie {
    position: sticky;
    bottom: 0;
    padding: 1px;
    background-color: rgb(32, 48, 42);
    color: white;
    text-align: center;
}

/* MEDIA QUERY PARA SMARTPHONE */
@media screen and (max-width: 480px) {
    
    .fila {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .izq {
        display: none;
    }
    .encab {
        margin: auto;
        display: block;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
    .perfil {
        width: 300px;
        height: 300px;
        margin: auto;
        margin-top: 20px;
        display: block;
    }
    ul {
        padding: 0;
        list-style-type: none;
        text-align: center;
    }
    .secciones {
        text-align: center;
    }
}