/* CSS RESPONSIVE CREADO SIGUIENDO EL MÉTODO FLEX-BOX VISTO W3SCHOOL */

/* MEDIA QUERY PARA PC (por default) */
/* ===CONFIGURACIONES GENERALES=== */
* {
    box-sizing: border-box;         /*De esta forma padding no distorcionará width final*/
}
body {
    margin: 0;                      /*Para ocupar la pantalla en su totalidad*/
    font-family: 'Arimo', sans-serif;
}
h1 {
    font-family: 'Comfortaa' cursive;
}
li {
    font-style: italic;
}

/* ===DIVISIÓN DEL VIEWPORT EN DOS COLUMNAS=== */
.fila {                             /*Clase creada para ordenar en columnas los flex-container*/
    display: flex;
}
.izq {                              /*FLEX-CONTAINER: MENÚ LATERAL*/
    flex: 25%;
    max-width: 350px;
    background-image: linear-gradient(white, gray);
    border-right: 5px solid rgb(67, 75, 14);
    display: flex;
}
.der {                              /*FLEX-CONTAINER: ÁREA PRINCIPAL DE LA PÁGINA*/
    flex: 75%;
    background-color: rgb(176, 196, 176);
}

/* ===MENÚ LATERAL=== */
.caja-contacto {                     /*FLEX-ITEMS*/
    max-height: 230px;
    min-height: 200px;
    max-width: 300px;
    min-width: 80%;
    margin: 10px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(82, 122, 107);
    color: rgb(182, 230, 194);
    border-radius: 5px 20px 20px;
    overflow-x: auto;
    top: 20px;
    position: sticky;
}

/* ===ENCABEZADO=== */
.encab {
    float: right;
    padding-left: 20px;
}
.perfil {                           /*FOTO DE PERFIL*/
    width: 150px;
    height: 150px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 1px 0 10px gray;
}
.perfil:hover .saludo {             
    display: block;
}
.perfil .saludo {
    position: absolute;    
    border-radius:  6px;
    background-color: gray;
    color: white;
    text-align: center;
}
.saludo {
    display: none;
}

/* ===SECCIÓN PRINCIPAL DE LA PÁGINA=== */
.ppal {
    flex: 80%;
    padding: 10px;
    background-color: white;
}

/* ===FORMULARIO LATERAL DERECHO=== */
.contactar {
    flex: 20%;
    background-color: rgb(82, 122, 107);
}

/* ===PIE DE PÁGINA=== */
.pie {
    position: sticky;
    bottom: 0;
    padding: 1px;
    background-color: rgb(2, 37, 23);
    color: white;
    text-align: center;
}

/* MEDIA QUERY PARA SMARTPHONE */
@media screen and (max-width: 480px) {
    
    .fila {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .izq {
        display: none;
    }
    .encab {
        margin: auto;
        display: block;
        text-align: center;
    }
    .perfil {
        width: 300px;
        height: 300px;
        margin: auto;
        display: block;
    }
    ul {
        padding: 0;
        list-style-type: none;
        text-align: center;
    }
}